html
{
  width: 100%;
  height: 100%;
}

body
{
  width: 99%;
  height: 98%;
  background: rgb(245, 245, 245);
  background: -webkit-linear-gradient(right, #8e9eab, #eef2f3);
  background-size: contain;
}

.mainContainer
{
  position: relative;
  text-align: center;
  margin: auto;
  height: auto;
  width: 70%;
  border: none;
}

form
{
  border-bottom: 20px;
}

fieldset
{
  border: none;
}

.regularTextbox
{
  background: transparent;
  width: 60%;
  border: 2px solid #000000;
  color: #34495e;
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-size: 2em;
  text-align: center;
  background-color: none;
  width: 50%;
  padding: 4px 19px;
  border-radius: 10px;
  box-shadow: none;
  -webkit-transition: border 0.25s linear, color 0.25s linear, background-color 0.25s linear;
          transition: border 0.25s linear, color 0.25s linear, background-color 0.25s linear;
}

.regularTextarea
{
  background: transparent;
  border: 2px solid #000000;
  width: 60%;
  color: #34495e;
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-size: 1.4em;
  text-align: center;
  background-color: none;
  width: 50%;
  padding: 4px 19px;
  border-radius: 10px;
  box-shadow: none;
  -webkit-transition: border 0.25s linear, color 0.25s linear, background-color 0.25s linear;
          transition: border 0.25s linear, color 0.25s linear, background-color 0.25s linear;
}

.regularTextbox:hover, .regularTextarea:hover
{
  background-color: rgba(240, 255, 255, 0.4);
}

.errorTextbox
{
  color: #e74c3c;
  box-shadow: none;
  background: transparent;
  border: 2px solid #e74c3c;
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-size: 2em;
  text-align: center;
  background-color: none;
  padding: 4px 19px;
  border-radius: 10px;
  -webkit-transition: border 0.25s linear, color 0.25s linear, background-color 0.25s linear;
          transition: border 0.25s linear, color 0.25s linear, background-color 0.25s linear;
}

.errorTextbox::placeholder
{
  color: #e74c3c;
}

.errorTextarea
{
  color: #e74c3c;
  box-shadow: none;
  background: transparent;
  border: 2px solid #e74c3c;
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-size: 1.2em;
  text-align: center;
  background-color: none;
  padding: 4px 19px;
  border-radius: 10px;
  -webkit-transition: border 0.25s linear, color 0.25s linear, background-color 0.25s linear;
          transition: border 0.25s linear, color 0.25s linear, background-color 0.25s linear;
}

.errorTextarea::placeholder
{
  color: #e74c3c;
}

.errorTextbox:hover, .errorTextarea:hover
{
  background-color: rgba(240, 255, 255, 0.4);
}

.divider
{
  display: block;
  position: relative;
  margin: auto;
  overflow: hidden;
  text-align: center;
  white-space: nowrap;
  width: 25%;
}

.divider > span
{
  display: inline-block;
  position: relative
}

.divider > span:before, .divider > span:after
{
  background: #000000;
  content: "";
  height: 1px;
  position: absolute;
  top: 50%;
  width: 9999px;
}

.divider > span:before
{
  margin-right: 15px;
  right: 100%
}

.divider > span: after
{
  left: 100%;
  margin-left: 15px
}

.word
{
  color: #4b4f56
}

.submitButton
{
  position: relative;
  cursor: pointer;
  border: none;
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-size: 1em;
  font-weight: lighter;
  border-radius: 8px;
  border-width: 8px 6px 0;
  border-bottom-width: 0;
  padding: 10px 100px;
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-transition: border 0.25s linear, color 0.25s linear, background-color 0.25s linear;
          transition: border 0.25s linear, color 0.25s linear, background-color 0.25s linear;
  color: #ffffff;
  background-color: #1ABC9C;
  white-space:normal;
  margin-bottom:2em;
}

.heading
{
  //font-family: "Lato", Helvetica, Arial, sans-serif;
  font-family: Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif;
  font-size: 4em;
  width: 99%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.5em;
  margin-bottom: 0.6em;
  padding: none;
  display: flex;
  align-items:center;
  justify-content: center;
  //box-shadow: 9px 7px 42px -3px rgba(0,0,0,0.75);
}

.createButton
{
  position: relative;
  cursor: pointer;
  border: none;
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-size: 1.5em;
  font-weight: lighter;
  border-radius: 8px;
  border-width: 8px 6px 0;
  border-bottom-width: 0;
  padding: 10px 100px;
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-transition: border 0.25s linear, color 0.25s linear, background-color 0.25s linear;
          transition: border 0.25s linear, color 0.25s linear, background-color 0.25s linear;
  color: #ffffff;
  background-color: #3498DB;
  white-space:normal;
}

.submitButton:hover, .submitButton:focus
{
  color: #ffffff;
  background-color: #16A085;
  border-color: #48c9b0
}

.createButton:hover, .createButton:focus
{
  color: #ffffff;
  background-color: #2980B9;
  border-color: #48c9b0
}

.submitButton span, .createButton span
{
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.submitButton span:after, .createButton span:after
{
  content: '  \00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.submitButton:hover span, .createButton:hover span
{
  padding-right: 25px;
}

.submitButton:hover span:after, .createButton:hover span:after {
  opacity: 1;
  right: 0;
}

span
{
  font-weight: bold;
}

a
{
  text-decoration: none;
}

*:focus
{
    outline: none;
}
